{% extends '../../layouts/default.html' %}

{% block title %}Agenda | Hong Kong Open Source Conference 2016{% endblock %}

{% block content %}

<div class="jumbotron dark-sections">
    <div class="container">
        <h1><span class="brand-blue">Agenda</span></h1>
        <p>Keynotes and Talks are in single tracks on Friday. Sessions are in multiple tracks on Weekend, generally sessions are on Saturday. Hhackathons and workshops will be moved to Sunday if conference is extended to 3 days.</p>
    </div>
</div>

<div class="container">
    <h1>Schedule Format (Tentative)</h1>
    <p>The schedule format is last updated on <strong><u>9 January 2016</u></strong>. Sessions are subject to changes without notice.</p>

   <div class="row">
        <div class="panel-heading">
            <h2 class="panel-title">24th June 2016, Friday (Day 1)</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Big Hall (200+ seats)</th>
                </th>
            </thead>
            <tbody>
            <tr>
                <th>09:30</th>
                <td>Reception and Check-ins</td>
            </tr>
            <tr>
                <th>10:00 - 10:15</th>
                <td>Opening</td>
            </tr>
            <tr>
                <th>10:15 - 10:55</th>
                <td>Keynote #1 (40 mins)</td>
            </tr>
            <tr>
                <th>11:00 - 11:40</th>
                <td>Keynote #2 (40 mins)</td>
            </tr>
            <tr>
                <th>11:40 - 12:00</th>
                <td>Morning Tea Break</td>
            </tr>
            <tr>
                <th>12:00 - 12:40</th>
                <td>Keynote #3 (40 mins)</td>
            </tr>
            <tr>
                <th>12:40 - 13:40</th>
                <td>Lunch</td>
            </tr>
            <tr>
                <th>13:40 - 14:20</th>
                <td>Keynote #4 (40 mins)</td>
            </tr>
            <tr>
                <th>14:25 - 14:50</th>
                <td>Talk #1 (25 mins)</td>
            </tr>
           <tr>
                <th>14:55 - 15:20</th>
                <td>Talk #2 (25 mins)</td>
            </tr>
           <tr>
                <th>15:20 - 15:40</th>
                <td>Afternoon Tea Break</td>
            </tr>
           <tr>
                <th>15:40 - 16:05</th>
                <td>Talk #3 (25 mins)</td>
            </tr>
           <tr>
                <th>16:10 - 16:35</th>
                <td>Talk #4 (25 mins)</td>
            </tr>
           <tr>
                <th>16:40 - 17:05</th>
                <td>Talk #5 (25 mins)</td>
            </tr>
           <tr>
                <th>17:05 - 17:30</th>
                <td>Announcement and Lucky Draw</td>
            </tr>
            <tr>
                <th>17:40</th>
                <td>End of Day 1</td>
            </tr>
            <tr>
                <th>19:00 - 22:00</th>
                <td>Speaker Dinner (by invitation only)</td>
            </tr>
            </tbody>
        </table>

    <div class="row">
        <div class="panel-heading">
            <h2 class="panel-title">25th June 2016, Saturday (Day 2)</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Conference Hall 1<br />(About 60 seats)</th>
                    <th>Conference Hall 2<br />(About 60 seats)</th>
                    <th>Conference Hall 3<br />(About 60 seats)</th>
                    <th>Conference Hall 4<br />(About 60 seats)</th>
                </tr>
            </thead>

            <tbody>
            <tr>
                <th>09:30</th>
                <td colspan="4">Reception and Check-ins</td>
            </tr>
            <tr>
                <th>10:00 - 10:10</th>
                <td colspan="4">Welcome Speech for Community and Announcement</td>
            </tr>
            <tr>
                <th>10:00 - 10:50</th>
                <td colspan="4">Day 2 Keynote #1 (40 mins)</td>
            </tr>
            <tr>
                <th>10:55 - 11:35</th>
                <td colspan="4">Day 2 Keynote #2 (40 mins)</td>`
            </tr>
            <tr>
                <th>11:35 - 11:55</th>
                <td colspan="4">Morning Tea Break</td>
            </tr>
            <tr>
                <th>11:55 - 12:35</th>
                <td colspan="4">Day 2 Keynote #3 (40 mins)</td>
            </tr>
            <tr>
                <th>12:35 - 13:35</th>
                <td colspan="4">Lunch</td>
            </tr>

            <tr>
                <th>13:35 - 14:05</th>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
            </tr>
            <tr>
                <th>14:10 - 14:40</th>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
            </tr>
            <tr>
                <th>14:45 - 15:15</th>
                <td>Talk (30 mins)</td>
                <td>Short Talks</td>
                <td>Short Talks</td>
                <td>HKOSP for Youth</td>
            </tr>
            <tr>
                <th>15:15 - 15:35</th>
                <td colspan="4">Afternoon Tea Break</td>
            </tr>
            <tr>
                <th>15:35 - 16:05</th>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>HKOSP for Youth</td>
            </tr>
            <tr>
                <th>16:10 - 16:40</th>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
            </tr>
            <tr>
                <th>16:45 - 17:15</th>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
                <td>Talk (30 mins)</td>
            </tr>
            <tr>
                <th>17:15 - 17:30</th>
                <td colspan="4">Announcement and Lucky Draw</td>
            </tr>
            <tr>
                <th>17:45</th>
                <td colspan="4">End of Day 2</td>
            </tr>
            <tr>
                <th>21:00 - 00:00</th>
                <td colspan="4">After-event Party (by invitation only) (tentative)<br />(in case of conference ended at this day)</td>
            </tbody>
        </table>

    </div>

</div>

{% endblock %}
