{% extends '../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/sponsor/{% endblock %}

{% block title %}Sponsors{% endblock %}

{% block description %}
  <p>To cover expenses of conference, we are calling for sponsorships of HKOSCon 2016 and look for potential sponsors.</p>
  <p>We would like to thank the following sponsors.</p>
{% endblock %}

{% block content %}

<div class="container sponsorship-tiers">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Sponsor</li>
    </ol>
  </div>

  <div class="row">
    {% for tier in sponsors.sponsors %}
      <section class="sponsorship-tier">
        <h2>{{ tier.name }}</h2>
        <div class="sponsors container">
          {% for sponsor in tier.sponsors %}
            {% if sponsor.grantedPerm %}
              {%- include './_sponsor.html' %}
            {% endif %}
          {% endfor %}
        </div><!--/.sponsors-->
      </section>
    {% endfor %}

    <section class="sponsorship-tier">
      <h2>Patrons</h2>
      <div class="container">
        <ul class="patrons">
          {% for patron in sponsors.patrons %}
            <li class="patron">{{ patron.name }}</li><!--/.patron-->
          {% endfor %}
        </ul><!--/.patrons-->
        <p>(Patrons are listed above in alphabetical orders).</p>
      </div>
    </section>

    <section class="sponsorship-tier">
      <h2>Supporting Organizations</h2>
      <div class="container supporting_orgs"><div class="row">
        {% for org in sponsors.supporting_orgs %}
          <div class="col-md-2">
            <a href="{{ org.url }}" title="{{ org.name }}">
              <div class="logo-wrapper"><div class="logo">
                <img src="{{ org.logo_url }}" alt="{{ org.name }}"/>
              </div></div>
            </a>
          </div><!--/.patron-->
        {% endfor %}
      </div></div>
    </section>

    <section class="sponsorship-tier">
      <h2>Co-organizers</h2>
      <div class="container coorganizers"><div class="row">
        {% for org in sponsors.co_organizers %}
          <div class="col-md-2">
            <a href="{{ org.url }}" title="{{ org.name }}">
              <div class="logo-wrapper"><div class="logo">
                <img src="{{ org.logo_url }}" alt="{{ org.name }}"/>
              </div></div>
            </a>
          </div><!--/.patron-->
        {% endfor %}
      </div></div>
    </section>

  </div><!--/.row-->

</div><!--/.container-->

{% endblock %}
