{% extends '../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/sponsor/{% endblock %}

{% block title %}Sponsors{% endblock %}

{% block description %}
  <p>To cover expenses of conference, we are calling for sponsorships of HKOSCon 2016 and look for potential sponsors.</p>
  <p>We would like to thank the following sponsors.</p>
{% endblock %}

{% block content %}

<div class="container sponsorship-tiers">
  <div class="row">

    {% for tier in sponsors %}
      <section class="sponsorship-tier">
        <h2>{{ tier.name }}</h2>
        <div class="sponsors container">
          {% for sponsor in tier.sponsors %}
            {% if sponsor.grantedPerm %}
              <div class="sponsor sponsor-{{ sponsor.id }}">
                <div class="row">
                  <div class="col-md-2 logos">
                    {% for logo in sponsor.logos %}
                      <a class="logo" href="{{ logo.url }}" title="{{ logo.title }}" target="_blank">
                        <img src="{{ logo.img }}" alt="{{ logo.alt }}" style="margin: 10px 10px">
                      </a>
                    {% endfor %}
                  </div>
                  <div class="col-md-10 description">
                    <h3>{{ sponsor.name }}</h3>
                    <p>
                      {{ displayDesc(sponsor.description) }}
                    </p>
                    <div class="links">
                      {% for link in sponsor.links %}
                        <a class="btn btn-default" target="_blank" href="{{ link.url }}" role="button">{{ link.text }}</a>
                      {% endfor %}
                    </div><!--/.links-->
                  </div>
                </div><!--/.row-->
              </div><!--/.sponsor row-->
            {% endif %}
          {% endfor %}
        </div><!--/.sponsors-->
      </section>
    {% endfor %}

  </div><!--/.row-->
</div><!--/.container-->

{% endblock %}
