{% extends '../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/sponsor/{% endblock %}

{% block title %}Sponsors{% endblock %}

{% block description %}
  <p>To cover expenses of conference, we are calling for sponsorships of HKOSCon 2016 and look for potential sponsors.</p>
  <p>We would like to thank the following sponsors.</p>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Platinum Sponsor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Gold Sponsors</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Silver Sponsors</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Bronze Sponsors</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>General Sponsors</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
