.bottom-sponosors-list {
  margin-top: 4em;
  box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, .2);

  .tier {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .sponsor {
    min-height: 10em;
    display: flex;
    align-items: center;

    @media(max-width: $width-sm) {
      min-height: none;
    }
    .logo {
      display: table-cell;
      vertical-align:middle;
      width: 100%;
    }
    .logo img {
      display: block;
      width: 100%;
    }
  }
}
