.jumbotron {
  padding-top: 70px;
}

.dark-sections {
  margin-bottom: 0;
  background-color: $theme-blue;
  color: $white;

  @media(min-width: $width-sm) {
    background-image: url('/assets/images/style/yellow-circles.svg');
    background-size: 400px 400px;
    background-position: left -220px top -120px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  @media(min-width: $width-xl) {
    background-size: 500px 500px;
    background-position: left -270px top -150px;
  }

  p {
    font-weight: 400 !important;
    text-shadow: none;
  }

  h1 {
    color: $theme-yellow;
    margin: 0.5em 0;
    strong {
      color: $menu-blue;
    }
  }

  h2 {
    color: $theme-yellow;
  }

  .content-container a:not(.btn) {
    color: $inverse-foreground;
  }
}

#page--front .jumbotron {
  text-shadow: black 0.3em 0.3em 0.3em;
}
