#main-wrapper {

  @media(min-width: $width-sm) {
    background-image: url('/assets/images/style/blue-circles.svg');
    background-size: 400px 400px;
    background-position: left -200px top -120px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  @media(min-width: $width-xl) {
    background-size: 500px 500px;
    background-position: left -250px top -150px;
  }

}

#main {

  padding-top: 2em;
  padding-bottom: 4em;

  @media(min-width: $width-sm) {
    background-image: url('/assets/images/style/blue-circles.svg');
    background-size: 400px 400px;
    background-attachment: fixed;
    background-position: right -240px bottom -200px;
    background-repeat: no-repeat;
  }

  @media(min-width: $width-xl) {
    background-size: 500px 500px;
  }

  > .container {
    background-color: rgba(255,255,255,.8);
  }
}
