{% extends '../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/topics/{% endblock %}

{% block title %}Topics{% endblock %}

{% block description %}
<p>Cloud, Maker, Community: Source and Data, Startup are 4 main themes of Hong Kong Open Source Conference 2016.</p>
<p>Keynotes and Talks are 25-40 minutes each with 5 minutes break between sessions.</p>
<p><a class="btn btn-lg btn-hkosc" href="https://hkoscon2016.eventbrite.com/?aff=website" role="button">Buy Ticket &raquo;</a></p>
{% endblock %}

{% block content %}

<div class="container page-topics">

  <div class="row">
    <p>A preliminary schedule is also available <a href="/schedule/">here</a>.</p>
  </div>

  <div class="row">
    {% for topics in topicsByType %}
      {% set typeName = loop.key %}
      {% if topics.length > 0 %}
        <h2>{{ typeName }}</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Title</th>
            <th>Speaker</th>
            <th>Category</th>
            <th>Language</th>
          </tr>
          </thead>
          <tbody>
          {% for topic in topics %}
          {% set speaker = speakers[topic.speaker] %}
          {% set lang = langs[topic.lang] %}
          {% set lang_slide = langs[topic.lang_slide] %}
          {% set level = levels[topic.level] %}
          <tr>
            <td class="title">
              <div class="topic-title"><a href="{{ topicURL('topic', topic.id) }}">{{ topic.title }}</a></div>
            </td>
            <td class="speaker">
              <span class="speaker-name">{{ speaker.name }}</span>
              {% if speaker['hkoscon-sponsored'] == true %}
                <span class="speaker-sponsored">(*1)</span>
              {% endif %}
              {% if speaker.company || speaker.community %}
                <ul class="props-list">
                  {% if speaker.nationality %}
                    <li class="nationality" title="Nationality">
                      {{ speaker.nationality }}
                    </li>
                  {% endif %}
                  {% if speaker.community %}
                    <li class="community" title="Community">
                      {{ speaker.community.name }}
                    </li>
                  {% endif %}
                  {% if speaker.company %}
                    <li class="company" title="Company">
                      {{ speaker.company.name }}
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
            </td>
            <td class="category">
              {{ topic.category }}
              <ul class="props-list">
                <li>{{ level.name }}</li>
                {% for audience in topic.target_audience %}
                  <li>{{ audience }}</li>
                {% endfor %}
              </ul>
            </td>
            <td class="language">
              {{ lang.name }}
              {% if lang_slide.name and lang_slide.name != lang.name %}
                <br/>(with {{ lang_slide.name }} Slides)
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <!-- end of topic {{ loop.key }} -->
      {% endif %}
    {% endfor %}
  </div><!--/.row-->
</div>

{% endblock %}
