{% extends '../../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/about/staff/{% endblock %}

{% block title %}Committee &amp; Staffs{% endblock %}

{% block description %}
  <p>Our committee and staff team is formed by volunteers, students and helpers, we are grouped in several functional teams.</p>
  <p>If you interested to help at the conference, please contact with us.</p>
  <p><a class="btn btn-hkosc" href="mailto:conference@opensource.hk" role="button">Contact Organiser &raquo;</a></p>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Team</th>
                <th>Team Lead</th>
                <th>Members</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Conference Chair</td>
                <td colspan="2">Mr. Sammy Fung</td>
            </tr>
            <tr>
                <td>Finance</td>
                <td>Dr. Haggen So</td>
                <td>(To Be Determined)</td>
            </tr>
            <tr>
                <td>Logistics</td>
                <td>Mr. Nicholas Yau</td>
                <td>Mr. Shawtim Liu</td>
            </tr>
            <tr>
                <td>Marketing</td>
                <td>Mr. Calvin Tsang</td>
                <td>Mr. Al Poon, Mr. Frankie Yuen, Miss Gineke Helberg.</td>
            </tr>
            <tr>
                <td>Participation</td>
                <td>Mr. Koala Yeung</td>
                <td>Mr. Kingman Leung, Mr Pan Huang, Mr Tony Yip.</td>
            </tr>
            <tr>
                <td>Photography &amp; Video</td>
                <td>Mr. Henry Law</td>
                <td>(To Be Determined)</td>
            </tr>
            <tr>
                <td>Program Committee</td>
                <td>Mr. Dick Tang</td>
                <td>Mr. Alex Lau, Mr. Andrew Ip, Mr. Anthony YP Wong, Mr. Ben Lau, Mr. Jeffrey Siaw, Mr. Pili Hu</td>
            </tr>
            <tr>
                <td>Sales</td>
                <td>Dr. Haggen So</td>
                <td>Mr. Koala Yeung, Mr. Sean Leung.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
