{% extends '../../layouts/schedule.html' %}

{% block og_url %}{{ site_host }}/schedule/{% endblock %}

{% block title %}Schedule{% endblock %}

{% block content %}

<div class="container title-container">
  <div class="row">
    <h1>Schedule</h1>
  </div>
</div>

<div class="container" id="schedule">

    <div class="row">
      <div id="timetable">
        <span class="loading">Loading...</span>
      </div><!--/#timetable-->
    </div>

</div>

{% endblock %}

{% block bottom %}
  {% include '../_bottom-sponsors.html' %}
{% endblock %}
