{% extends '../layouts/default.html' %}

{% block title %}Hong Kong Open Source Conference 2016{% endblock %}

{% block content %}

  <div class="jumbotron dark-sections" id="introjumbo">
    <div class="container">
      <h1>HKOSCon 2016<br />
      <span class="brand-blue">Connect Global Open Source Technology</span><br />
      in Hong Kong.</h1>
      <hr />
      <h2>Internet of Things // Data // Cloud // DevOps</h2>
      <p>
        24-25 June 2016 (Friday-Saturday)<br />
        <br />
        <br />
        <br />
      </p>
    </div>
  </div>

  <div class="dark-sections">
    <div class="container content-container">
      <div class="row">
        <div class="col-md-4">
          <h2>News &amp; Updates</h2>
          <ul>
            <li><a href="http://hkoscon2016.eventbrite.com/?aff=website" target="_blank">HKOSCon 2016 Early Bird Tickets Sales begins (2016/02/14)</a></li>
            <li><a href="/cfp">HKOSCon 2016 Call for Proposal begins (2016/02/01)</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>What is HKOSCon?</h2>
          <p>
            Hong Kong Open Source Conference is an annual international open source conference in Hong Kong.
            It is aimed to demonstrate the use of open source software technology, open hardware technology and latest development in the world.
          </p>
        </div>
        <div class="col-md-4">
          <h2>Contact Organiser</h2>
          <p>For enquiry, please feel freely to email to us.</p>
          <p><a class="btn btn-default" href="mailto:conference@opensource.hk">Contact Organiser &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
