{% extends '../../layouts/default.html' %}

{% block title %}Call for proposal{% endblock %}

{% block content %}

<div class="container">
    <h1>Overview</h1>
    <p>
        Hong Kong Open Source Conference 2016 is an annual open source conference organised by the community, to connect
        global open source technology.
    </p>
    <p>
        We would like to invite developers and contributors from Hong Kong and overseas to submit proposals.
    </p>
    <p>
        Most of sessions/activities accepted through CFP will be presented/delivered on 2016/6/25 Saturday, in seminar
        room setting with audience size of 50-60 for general talks (except keynotes). Workshops, hackathons and sessions
        with longer length may be moved to 6/26 Sunday (in classroom setting with audience size of 30-70) if the
        conference is extended. Zero to Few talks might be move to Friday (in seminar room setting with audience size of
        200).
    </p>
    <p>
        HKOSCon provides financial aid program to selected overseas speakers/contributors who speak at HKOSCon 2016.
        (financial aid application is also part of the submission form)
    </p>

    <h1>Topics</h1>
    <p>Topics of interest include but are not limited to:</p>
    <ul>
        <li>Internet of Things</li>
        <li>Data</li>
        <li>Cloud</li>
        <li>DevOps</li>
    </ul>

    <h1>Important Dates</h1>
    <ul>
        <li>Call For Proposals (CFP) Deadline: <b>2016/02/28 Sunday 23:00 HKT (GMT+8)</b></li>
        <li>Announcement of CFP Result: by <b>2016/03/31</b></li>
    </ul>

    <h1>HKOSCon 2016 information</h1>
    <p>Date: 2016/06/24-26 (Friday - Sunday)</p>
    <p>Website: <a href="http://2016.opensource.hk" target="_blank">http://2016.opensource.hk</a></p>

    <p>For enquiry/any special requests, please feel free to contact us at <a href="mailto:conference@opensource.hk">conference@opensource.hk</a></p>

    <h1>Submission</h1>
    <p><a href="https://docs.google.com/forms/d/1wm0sVY1pYIiVv0JOc77rXRIgAzQqEDVFzmmDfqjDScQ/viewform" target="_blank">Open the submission form in a new window</a></p>

    <div class="row">
        <iframe src="https://docs.google.com/forms/d/1wm0sVY1pYIiVv0JOc77rXRIgAzQqEDVFzmmDfqjDScQ/viewform?embedded=true"
                width="760" height="1000" frameborder="0" marginheight="0" marginwidth="0">載入中…
        </iframe>
    </div>

</div>

{% endblock %}
