{% extends '../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/cfp/{% endblock %}

{% block title %}Call for Proposals{% endblock %}

{% block content %}

<div class="container">

    <h2>Call for Proposals (CFP) is Closed. Thanks!</h2>
    <p>
      Our CFP deadline was <b>2016/02/28 Sunday 23:00 HKT (GMT+8)</b>.
    </p>
    <p>
      If you wanted to submit your topic, we're sorry :-(
    </p>
    <p>
      But there is still hope! We'll have <b>Unconference Session</b> during the
      <a href="/schedule/#day-2">Lunch of Day 2 (Saturday)</a>.
    </p>
    <p>
      Come and pitch your topic to all participants. You can still grab your
      chance to share!
    </p>
    <p>
      Get your ticket
      <a href="https://hkoscon2016.eventbrite.com/" target="_blank">here</a> :-)
    </p>

    <h2>Results</h2>
    <p>
      Please reference our <a href="/topics/">Topics</a> page for result
    </p>
    <p>
      Please subscribe to our
      <a href="https://www.facebook.com/hkoscon/" target="_blank">Facebook Page</a>
      for more updates.
    </p>

    <h2>HKOSCon 2016 information</h2>
    <p>Date: 2016/06/24-26 (Friday - Sunday)</p>
    <p>Website: <a href="http://2016.opensource.hk" target="_blank">http://2016.opensource.hk</a></p>
    <p>For enquiry/any special requests, please feel free to contact us at <a href="mailto:conference@opensource.hk">conference@opensource.hk</a></p>

</div>

{% endblock %}
