{% extends '../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/cfp/{% endblock %}

{% block title %}Call for Proposals Results{% endblock %}

{% block content %}

<div class="container">

    <h2>CFP Results are Here!</h2>
    <p>
      We are pleased to announce the CFP results. We have received
      <strong>48</strong> submissions before our deadline
      2016/02/28 23:00 (GMT+8). The volunteers in our Program Committee
      had a hard time to shortlist them to fit in <a href="/schedule">our
      agenda</a>.
    </p>
    <p>
      Here is the list of the accepted CFP topics:
      <ul id="cfp-results">
        {% for topic in topics %}
          {% if !topic.isSponsorTopic %}
            {% set speaker = speakers[topic.speaker] %}
            <li>
              <a href="{{ topicURL('topic', topic.id) }}">{{ topic.title }}</a>
              ({{ speaker.name }})
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>

    <p>
      If your topic is not selected, don't worry.
      You may still share your topic in our <b>Unconference Session</b> at
      <a href="/schedule/#day-2">Lunch of Day 2 (Saturday)</a>.
    </p>
    <p>
      Get your ticket
      <a href="https://hkoscon2016.eventbrite.com/?aff=website" target="_blank">here</a> :-)
    </p>

    <h2>More Information</h2>
    <p>
      We're constantly updating our Facebook. Please subscribe our
      <a href="https://www.facebook.com/hkoscon/" target="_blank">Facebook Page</a>
      for more updates.
    </p>
    <p>For enquiry/any special requests, please feel free to contact us at <a href="mailto:conference@opensource.hk">conference@opensource.hk</a></p>

</div>

{% endblock %}
