{% extends '../../layouts/default.html' %}

{% block title %}Venue{% endblock %}

{% block style %}
<style>time{font-weight: bold;}</style>
{% endblock %}

{% block description %}
<p>
    Cyberport 3, 100 Cyberport Road, Telegraph Bay
    <br>
    香港數碼港道100號數碼港三座
</p>
<div id="googleMap"></div>
{% endblock %}

{% block content %}
<div class="container content-container">
    <h2>Transportation</h2>

    <div class="container">

        <div class="row">
            <div class="col-md-10">
                <h2>Shuttle Bus Service</h2>

                <h3>To Cyberport</h3>
                <ul>
                    <li>
                        Day 1-2 (Fri - Sat)
                        -
                        3 buses departs from Admiralty Centre 海富中心 (near McDonald) at <time>09:00</time>
                    </li>
                    <li>
                        Day 3 (Sun)
                        -
                        3 buses departs from Admiralty Centre 海富中心 (near McDonald) at <time datetime="2016-06-26T13:15+08:00">13:15</time>
                    </li>
                </ul>

                <h3>Depart From Cyberport</h3>
                <ul>
                    <li>
                        Day 1 -
                        2 buses depart to Admiralty MTR station and
                        1 bus depart to 1 Peking Road, Tsim Sha Tsui
                    </li>
                    <li>
                        Day 2 -
                        2 buses depart to Admiralty MTR station and
                        1 bus depart to Central Ferry Pier
                    </li>
                    <li>
                        Day 3 -
                        3 buses depart to Admiralty MTR station
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <h2>By Bus</h2>
                <ul>
                    <li>
                        30X Central (via Pok Fu Lam, Wah Fu)
                        <a href="https://cdn.tonyhhyip.pro/personal/doc/hkosc/2016/30x.pdf" target="_blank">
                            Detail
                        </a>
                    </li>
                    <li>
                        73 Stanley (via Repulse Bay, Wong Chuk Hang, Aberdeen, Wah Fu)
                        <a href="https://cdn.tonyhhyip.pro/personal/doc/hkosc/2016/73.pdf" target="_blank">
                            Detail
                        </a>
                    </li>
                    <li>
                        970 So Uk Estate (via Sham Shui Po, Prince Edward, Mong Kok, Yau Ma Tei, Jordan)
                        <a href="https://cdn.tonyhhyip.pro/personal/doc/hkosc/2016/970.pdf" target="_blank">
                            Detail
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>By Minibus</h2>
                <ul>
                    <li>10 Causeway Bay (Jaffe Road)</li>
                    <li>58 Aberdeen - Cyberport - Kennedy Town (North Street)</li>
                    <li>69 Quarry Bay (Hoi Chak Street)</li>
                    <li>69A Aberdeen Main Road (outside St. Peter Secondary School)</li>
                    <li>69X Causeway Bay (Lockhart Road)</li>
                </ul>
            </div>

        </div><!-- .row -->

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?signed_in=true&language=en-GB"></script>
<script>
    !function () {
        var mapDiv = document.getElementById('googleMap');
        google.maps.event.addDomListener(window, 'load', function () {
            var lat = 22.2595221, lng = 114.1318008;
            var center = new google.maps.LatLng(lat, lng);
            var map = new google.maps.Map(mapDiv, {
                zoom: 17,
                center: center
            });

            var marker = new google.maps.Marker({
                map: map,
                visible: false,
                // Define the place with a location, and a query string.
                place: {
                    location: {lat: lat, lng: lng},
                    query: 'Cyberport 3 Core E, Hong Kong'
                }
            });

            // Construct a new InfoWindow
            var infoWindow = new google.maps.InfoWindow({
                content: [
                  '<div id="map-infowindow">',
                    '<a class="address address-en" ',
                    'title="Open Cyberport 3 Core E with Google Map" ',
                    'href="https://www.google.com.hk/maps/place/Cyberport+3+Core+E,+Telegraph+Bay/" ',
                    'target="_blank">HKOSCon 2016 Venue</a>',
                  '</div>'
                ].join('')
            });

            // Opens the InfoWindow by default
            infoWindow.open(map, marker);

            // animate the marker
            setTimeout(function () {
              marker.setVisible(true);
              marker.setAnimation(google.maps.Animation.DROP);
            }, 2000);
        });
    }();

</script>
{% endblock %}
