{% extends '../../layouts/default.html' %}

{% block title %}Venue{% endblock %}

{% block description %}
<p>
    Cyberport 3, 100 Cyberport Road, Telegraph Bay
    <br>
    香港數碼港道100號數碼港三座
</p>
<div id="googleMap"></div>
{% endblock %}

{% block content %}
<div class="container content-container">
    <h2>Transportation</h2>

    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <h2>By Bus</h2>
                <ul>
                    <li>30X Central</li>
                    <li>42C North Point Ferry Pier</li>
                    <li>73 Stanley</li>
                    <li>73P Aberdeen</li>
                    <li>107P Laguna Verde</li>
                    <li>970 So Uk Estate</li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>By Minibus</h2>
                <ul>
                    <li>10 Causeway Bay (Jaffe Road)</li>
                    <li>58 Aberdeen - Cyberport - Kennedy Town (North Street)</li>
                    <li>69 Quarry Bay (Hoi Chak Street)</li>
                    <li>69A Aberdeen Main Road (outside St. Peter Secondary School)</li>
                    <li>69X Causeway Bay (Lockhart Road)</li>
                </ul>
            </div>

        </div><!-- .row -->

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?signed_in=true&language=en-GB"></script>
<script>
    !function () {
        var mapDiv = document.getElementById('googleMap');
        console.log(mapDiv);
        mapDiv.style.width = '100%';
        mapDiv.style.height = '400px';
        google.maps.event.addDomListener(window, 'load', function () {
            var lat = 22.2595221, lng = 114.1318008;
            var center = new google.maps.LatLng(lat, lng);
            var map = new google.maps.Map(mapDiv, {
                zoom: 17,
                center: center
            });

            var marker = new google.maps.Marker({
                map: map,
                visible: false,
                // Define the place with a location, and a query string.
                place: {
                    location: {lat: lat, lng: lng},
                    query: 'Cyberport 3 Core E, Hong Kong'
                }
            });

            // Construct a new InfoWindow
            var infoWindow = new google.maps.InfoWindow({
                content: [
                  '<div id="map-infowindow">',
                    '<a class="address address-en" ',
                    'title="Open Cyberport 3 Core E with Google Map" ',
                    'href="https://www.google.com.hk/maps/place/Cyberport+3+Core+E,+Telegraph+Bay/" ',
                    'target="_blank">HKOSCon 2016 Venue</a>',
                  '</div>'
                ].join('')
            });

            // Opens the InfoWindow by default
            infoWindow.open(map, marker);

            // animate the marker
            setTimeout(function () {
              marker.setVisible(true);
              marker.setAnimation(google.maps.Animation.DROP);
            }, 2000);
        });
    }();

</script>
{% endblock %}
