{% extends '../layouts/front.html' %}

{% block title %}Hong Kong Open Source Conference 2016{% endblock %}

{% block content %}

  <div class="jumbotron dark-sections" id="introjumbo">
    <div class="container">
      <h1>
        HKOSCon 2016
        <div class="slogan">// Go Beyond <strong>Open-source</strong></div>
      </h1>
      <div class="info">
        <h2>Internet of Things // Data // Cloud // DevOps</h2>
        24-26 June 2016 (Friday-Sunday)<br />
        <span class="brand-yellow">Cyberport 3, 100 Cyberport Road, Telegraph Bay</span>

        <a id="promotion-video" style="float: right" class="btn btn-lg btn-default"
           href="https://www.youtube.com/watch?v=43uVMqES0Kk"
           rel="prettyPhoto"
           title="">
          Watch Video
        </a>
      </div>
    </div>
  </div>

  <div class="dark-sections">
    <div class="container content-container">
      <div class="row">
        <div class="col-md-4">
          <h2>News &amp; Updates</h2>
          <ul class="news-updates">
            {% for item in news %}
              {% if item.published %}
                <li><a href="{{ item.url }}"
                  {% if item.external %}target="_blank"{% endif %}>
                  <span class="title">{{ item.title }}</span>
                  <span class="date">({{ item.date }})</span>
                </a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h2>What is HKOSCon?</h2>
          <p>
            Hong Kong Open Source Conference is an annual international open source conference in Hong Kong.
            It is aimed to demonstrate the use of open source software technology, open hardware technology and latest development in the world.
          </p>
        </div>
        <div class="col-md-4">
          <h2>Contact Organiser</h2>
          <p>For enquiry, please feel freely to email to us.</p>
          <p><a class="btn btn-primary" href="mailto:conference@opensource.hk">Contact Organiser &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/js/jquery.prettyPhoto.min.js"></script>
<script>
  !function () {
    var width = $(window).width(), height = $(window).height();
    $("a[rel='prettyPhoto']").prettyPhoto({
      default_width: width * 0.8,
      default_height: height * 0.8
    });
    if (typeof Cookies.get('viewed') === 'undefined') {
      Cookies.set('viewed', 1);
      $(document.getElementById('promotion-video')).click();
    }
  }();
</script>
{% endblock %}