
#promotion-video {
  display: block;
  background-image: url('/assets/images/noun_10352_100.png');
  background-size: cover;
  width: 80px;
  height: 60px;
  margin: 2.5em 0 0 auto;
  .text {
    margin-left: -99999px;
  }
}

.button-front-mobile-ticket {
  text-shadow: none;
  width: 100%;
  margin: 2em 0 0.5em;
}
