@media (min-width: $width-md) {
  #introjumbo {
    background-color: $theme-blue;
    background-image: url("/assets/images/hkoscon-2015-ckk.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  }
}

@media screen and (min-width: $width-sm) {
  .jumbotron {
    padding-top: 30px;
  }
}
#introjumbo {
  min-height: 100vh;
  margin-bottom: 0;

  margin-top: 0;
  color: #fff;
  background-color: #222;

  h1 {
    font-family: 'Geomanist', sans-serif;
    padding-top: 6%;
    text-shadow: 2px 2px 10px black;
  }

  h1 .slogan {
    margin-top: 0.2em;
    font-size: 1.2em;
    font-family: 'Geomanist', sans-serif;
    font-weight: 300;
    color: $menu-blue;
    strong {
      font-family: 'Geomanist', sans-serif;
      color: $theme-yellow;
      font-weight: 500;
    }
  }

  .info {
    padding: 2em 5em;
    background-color: $theme-blue;
    text-shadow: none;
    font-family: $font-subtitle;
    h2 {
      color: $theme-yellow;
      clear: left;
      font-weight: 200;
      margin: 0 0 1em;
      padding: 0;
    }
    @media (max-width: $width-sm) {
      padding: 1em 2em;
      h2 {
        margin: 0 0 .5em;
      }
    }
  }
}

#promotion-video {
  display: block;
  background-image: url('/assets/images/noun_10352_100.png');
  background-size: cover;
  width: 80px;
  height: 60px;
  margin: 2.5em 0 0 auto;
  .text {
    margin-left: -99999px;
  }
}

.button-front-mobile-ticket {
  text-shadow: none;
  width: 100%;
  margin: 2em 0 0.5em;
}

#page--front {
  .dark-sections {
    margin-bottom: 0;
  }
  .bottom-sponosors-list {
    margin-top: 0;
  }
}
