/**
 * topic page
 */
.topic-type-name {
  position: relative;
  top: 1.5em;
  font-size: 1.5em;
  @media(max-width: $width-sm) {
    top: 1em;
  }
}

.page-topic {

  .topic {
    .datasheet {
      display: block;
      overflow: auto;
      margin-top: 1em;
      dt {
        display: block;
        float: left;
        width: 160px;
      }
      dd {
        display: block;
        margin-left: 160px;
        margin-bottom: 0.5em;
      }
    }
    .progress {
      height: 40px;
      width: 95%;
      .progress-bar {
        line-height: 40px;
      }
    }
    .sponsor-wrapper {
      margin-top: 4em;
      padding-top: 2em;
      border-top: 1px solid #ddd;
    }
    .sponsor {
      .logos {
        display: block;
        width: 100%;
        .logo img {
          max-width: 30%;
          max-height: 13em;
        }
        margin-bottom: 1.5em;
      }
      .description {
        display: block;
        width: 100%;
        .name {
          display: none;
        }
        .links {
          margin: 1em 0;
          text-align: right;
        }
      }
    }
  }

  .speaker {
    h2 {
      .name {
        display: block;
      }
      .nickname {
        color: rgba(0, 0, 0, .4);
        font-size: 0.8em;
        font-weight: normal;
        margin-top: 0.3em;
      }
    }
    .quick-info {
      display: block;
      position: relative;
      width: 70%;
      min-height: 2em;

      img {
        width: 100%;
      }

      &.thumbnail .social {
        padding: 8px 6px 4px;
        margin-top: 4px;
        border-top: solid 1px rgba(0, 0, 0, 0.2);
      }

      .social {
        text-align: left;
        background-color: rgba(255, 255, 255, 0.8);
        a {
          text-decoration: none;
          color: inherit;
          :hover {
            color: rgba(0, 0, 0, 0.6);
          }
        }
        .genericon {
          font-size: 28pt;
        }
      }
    }
    @media (max-width: $width-md) {
      .quick-info {
        width: 100%;
        .social {
          text-align: center;
          .genericon {
            font-size: 40pt;
          }
        }
      }
    }
    .datasheet {
      display: block;
      overflow: auto;
      margin-top: 1em;
      dt {
        display: block;
        float: left;
        width: 30%;
      }
      dd {
        display: block;
        margin-left: 30%;
      }
    }
  }

}

/**
 * topics page
 */
.page-topics {
  .table {
    ul.props-list {
      display: block;
      margin: 0;
      font-size:.9em;
      color:rgba(0,0,0,.4);
      padding: 0.2em 0 0 0.4em;

      li {
        display: block;
        margin-right: .5em;
        &::after {
          content: ", ";
        }
        &:last-child{
          margin-right: 0;
          &::after {
            content: "";
          }
        }
      }
    }

    .title {
      .topic-title {
        font-size: 1.2em;
      }
    }
    .speaker {
      width: 18%;
    }
    .category {
      width: 14%;
    }
    .language {
      width: 14%;
    }
  }

  .topic-type:target table {
    background-color: #FFE;
  }
}


.page-topic-header {
  a {
    text-decoration: underline;
    color: inherit;
  }
}
