{% extends '../../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/sponsor/prospectus/{% endblock %}

{% block title %}Sponsor Prospectus{% endblock %}

{% block description %}
  <p>To cover expenses of conference, we are calling for sponsorships of HKOSCon 2016 and look for potential sponsors.</p>
  <p>If you interested to sponsor HKOSCon 2016, please contact with us.</p>
  <p><a class="btn btn-hkosc" href="mailto:conference@opensource.hk" role="button">Contact HKOSCon &raquo;</a></p>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        In becoming a sponsor, we are offering to you:
        <ul>
          <li>Matchmaking opportunities for companies with local enterprises;</li>
          <li>Marketing opportunities to be featured in conference materials and presented in media announcements;</li>
          <li>Networking with highly capable IT professionals</li>
        </ul>
      <p>
        The conference has proven to attract participants usually scattered in their own different groups. By becoming a sponsor, your organisation will be able to build relationships with them. Please refer to our event web site at http://2016.opensource.hk/ .
      </p>
      <h2>Enquiry and Application</h2>
      <p>
        Please contact us at <a href="mailto:conference@opensource.hk">conference@opensource.hk</a> to obtain Call For Sponsorship document and further information.
      </p>
    </div>
  </div>
</div>

{% endblock %}
