/**
 * Button Customize of Bootstrap
 * Specially created for HKOSCon.
 */

$hkosc-btn-color : $theme-blue;
$hkosc-btn-bg    : $theme-yellow;
$hkosc-btn-border: darken($theme-yellow, 5%);

.btn-hkosc {
  @include button-variant($hkosc-btn-color, $hkosc-btn-bg, $hkosc-btn-border);
  font-weight: bold;
}