/**
 * Button Customize of Bootstrap
 * Specially created for HKOSCon.
 */

$hkosc-btn-color : $theme-blue;
$hkosc-btn-bg    : $theme-yellow;
$hkosc-btn-border: darken($theme-yellow, 5%);

.btn-hkosc {
  color            :  $hkosc-btn-color;
  background-color :  $hkosc-btn-bg;
  border-color     :  $hkosc-btn-border;

  &:focus,
  &.focus {
    color            : $hkosc-btn-color;
    background-color : darken($hkosc-btn-bg, 10%);
    border-color     : darken($hkosc-btn-border, 25%);
  }

  &:hover {
    color            : $hkosc-btn-color;
    background-color : darken($hkosc-btn-bg, 10%);
    border-color     : darken($hkosc-btn-border, 12%);
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color            : $hkosc-btn-color;
    background-color : darken($hkosc-btn-bg, 10%);
    border-color     : darken($hkosc-btn-border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color            : $hkosc-btn-color;
      background-color : darken($hkosc-btn-bg, 17%);
      border-color     : darken($hkosc-btn-border, 25%);
    }
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color : $hkosc-btn-bg;
      border-color     : $hkosc-btn-border;
    }
  }

  .badge {
    color: $hkosc-btn-bg;
    background-color : $hkosc-btn-color;
  }
}