body, :root {
  font-size: $default-font-size;
  font-family: $font-family;
}

footer {
  border-top: solid 1px rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .03);
  padding-top: 3em;
  text-align: center;

  img {
    border-width: 0;
  }
}

.title-container {
  padding-top: 4em;
}

.content-container {
  padding-bottom: 2em;
}

#main {
  margin-bottom: 4em;
}

/** mobile friendly tables **/
@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
  }
}

@media (max-width: $width-md) {
  .media-body {
    display: table-row;
  }
}
