body, :root {
  font-size: $default-font-size;
  font-family: $font-family;
}

footer {
  border-top: solid 1px rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .03);
  padding-top: 3em;
  text-align: center;

  img {
    border-width: 0;
  }
}

.title-container {
  padding-top: 4em;
}

.content-container {
  padding-bottom: 2em;
}

.front-sns-links {
  font-size: 16pt;
  line-height: 26pt;
  color: $theme-yellow;
  a {
    color: #fff;
    text-decoration: none;
    .genericon {
      color: $theme-yellow;
      position: relative;
      top: 4px;
      font-size: 20pt;
      margin-right: 6px;
    }
  }
  p {
    padding-top: .4em;
  }
}

#bottom-sns-logos {
  background-color: #DDD;
  text-align: center;
  padding: 2em;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: rgba(0, 0, 0, .5);
    }
    &:focus {
      outline: none;
    }
  }
  .genericon {
    font-size: 26px;
    margin: 1em;
  }
}

/** mobile friendly tables **/
@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
  }
}

@media (max-width: $width-md) {
  .media-body {
    display: table-row;
  }
}

/**
 * container-like scales itself like container against checkpoints
 * allow floating elements to scale width like normal containers
 * in the grid system
 */
.container-like {
  width: 100%;
  @media(min-width: $width-sm) {
    width: 750px;
  }
  @media(min-width: $width-md) {
    width: 970px;
  }
  @media(min-width: $width-lg) {
    width: 1170px;
  }
}
