body, :root {
  font-size: $default-font-size;
  font-family: $font-family;
}

footer {
  padding-top: 2em;
  text-align: center;
}

.content-container {
  padding-bottom: 2em;
}

.brand-blue {
  color: $theme-blue;
}

.brand-yellow {
  color: $theme-yellow;
}

.row h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
