.dark-sections {
  margin-bottom: 2em;
  color: $inverse-foreground;
  background-color: $inverse-background;
  background-image: url("/assets/images/footer_lodyas.png");

  h1 {
    margin: 0.8em 0 0.5em;
  }

  .content-container a:not(.btn) {
    color: $inverse-foreground;
  }
}