.nav-highlight, .nav-highlight a {
  background-color: $theme-yellow;
  color: $theme-blue !important;
  font-weight: bold;
}
.navbar {
  border-radius: 0;
}

@media (max-width: 992px) {
  .navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background-image: url("/assets/images/footer_lodyas.png");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    border: transparent;
    border-top: #555 solid 1px;
    border-bottom: #555 solid 1px;
    background-color: transparent;
  }
  .navbar *{
    color: #fff !important;
    border: none !important;
  }
}

@media (min-width: 992px) {
  .navbar.affix-top {
    bottom: 0;
    border: transparent;
    border-top: #555 solid 1px;
    border-bottom: #555 solid 1px;
    background-color: transparent;
    position: absolute;
  }
}

.navbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navbar.affix-top {
  width: 100%;
  margin:0;

  ul, li, div,
  a.dropdown-toggle,
  a.navbar-brand,
  li > a:focus,
  li > a:hover {
    transition: color 0.5s;
    color: #fff;
    border: none;
  }

  .nav-highlight, .nav-highlight a {
    background-color: rgba(243, 203, 2, 0.5) !important;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .nav-highlight:hover, .nav-highlight:hover a {
    background-color: rgba(243, 203, 2, 0.8) !important;
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .navbar-nav li:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }


  .dropdown-menu {
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    > li > a:focus,
    > li > a:hover, {
      color: #262626;
    }
  }
}