{% extends '../../layouts/schedule.html' %}

{% block og_url %}{{ site_host }}/schedule/{% endblock %}

{% block title %}Schedule{% endblock %}

{% block content %}

<div class="container title-container">
  <div class="row">
    <h1>Schedule</h1>
    <p>
      You may use the filter of this interactive scheudle to play your day.
      Or you may still read the old <a href="./static/">static schedule</a>.
    </p>
  </div>
</div>

<div class="container" id="schedule">

    <div class="row">
      <div id="timetable">
        <span class="loading">Loading...</span>
      </div><!--/#timetable-->
    </div>

</div>

{% endblock %}

{% block bottom %}
  {% include '../_bottom-sponsors.html' %}
{% endblock %}
