{% extends '../../layouts/default.html' %}

{% block og_url %}{{ site_host }}/schedule/{% endblock %}

{% block title %}Agenda{% endblock %}

{% block description %}
<p>Keynotes and Talks are in single tracks on Friday. Sessions are in multiple tracks on Weekend, keynotes and talks are on Saturday, and workshops are on Sunday.</p>
<p><a class="btn btn-lg btn-hkosc" href="https://hkoscon2016.eventbrite.com/?aff=website" role="button">Buy Ticket &raquo;</a></p>
{% endblock %}

{% block content %}

<div class="container" id="schedule">

    <div class="row">
        <h1>Agenda (Tentative)</h1>
        <p>The agenda is last updated on <strong><u>{{ now.format('Do MMMM YYYY') }}</u></strong>. Sessions are subject to changes without notice.</p>
        <p>The full list of topics can also be found <a href="/topics/">here</a>.</p>
    </div>

    <div class="row day" id="day-1">

        <h2 class="row-heading">24th June 2016, Friday (Day 1)</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Big Hall (220 seats)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>09:00</th>
                <td>Shuttle Bus departs from Admiraty</td>
            </tr>
            <tr>
                <th>09:30</th>
                <td>Reception and Check-ins</td>
            </tr>
            <tr>
                <th>10:00 - 10:15</th>
                <td>Opening</td>
            </tr>
            <tr>
                <th>10:15 - 10:55</th>
                <td>
                    {{ findTopicSummary(data, "Keynote #1 (40 mins)", {start: '2016-06-24T10:15:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>11:00 - 11:40</th>
                <td>
                    {{ findTopicSummary(data, "Keynote #2 (40 mins)", {start: '2016-06-24T11:00:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>11:40 - 12:00</th>
                <td>Morning Tea Break</td>
            </tr>
            <tr>
                <th>12:00 - 12:40</th>
                <td>{{ findTopicSummary(data, "Talk #1", {start: '2016-06-24T12:00:00+0800', venue: 'big-hall'}) }}</td>
            </tr>
            <tr>
                <th>12:40 - 13:40</th>
                <td>Lunch</td>
            </tr>
            <tr>
                <th>13:40 - 14:20</th>
                <td>Keynote #3 (40 mins)</td>
            </tr>
            <tr>
                <th>14:25 - 14:50</th>
                <td>
                    {{ findTopicSummary(data, "Talk #1 (25 mins)", {start: '2016-06-24T14:25:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>14:55 - 15:20</th>
                <td>
                    {{ findTopicSummary(data, "Talk #2 (25 mins)", {start: '2016-06-24T14:55:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>15:20 - 15:40</th>
                <td>Afternoon Tea Break</td>
            </tr>
            <tr>
                <th>15:40 - 16:05</th>
                <td>
                    {{ findTopicSummary(data, "Talk #3 (25 mins)", {start: '2016-06-24T15:40:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>16:10 - 16:35</th>
                <td>
                    {{ findTopicSummary(data, "Talk #4 (25 mins)", {start: '2016-06-24T16:10:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>16:40 - 17:05</th>
                <td>
                    {{ findTopicSummary(data, "Talk #5 (25 mins)", {start: '2016-06-24T16:40:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>17:05 - 17:30</th>
                <td>Announcement and Lucky Draw</td>
            </tr>
            <tr>
                <th>17:40</th>
                <td>End of Day 1 and Shuttle Buses to Admiralty</td>
            </tr>
            <tr>
                <th>19:00 - 22:00</th>
                <td>Speaker Dinner (by invitation only)</td>
            </tr>
            </tbody>
        </table>
    </div><!--/.row-->

    <div class="row day" id="day-2">

        <h2 class="row-heading">25th June 2016, Saturday (Day 2)</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Function Room 1<br />(About 60 seats)</th>
                <th>Function Room 2<br />(About 90 seats)</th>
                <th>Function Room 3<br />(About 60 seats)</th>
                <th>Training Theatre<br />(About 60 seats)</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>09:00</th>
                <td colspan="4">Shuttle Bus departs from Admiraty</td>
            </tr>
            <tr>
                <th>09:30</th>
                <td colspan="4">Reception and Check-ins</td>
            </tr>
            <tr>
                <th>10:00 - 10:10</th>
                <td colspan="4">Welcome Speech for Community and Announcement</td>
            </tr>
            <tr>
                <th>10:00 - 10:50</th>
                <td colspan="4">
                    {{ findTopicSummary(data, "Day 2 Keynote #1 (40 mins)", {start: '2016-06-25T10:00:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>10:55 - 11:35</th>
                <td colspan="4">
                    {{ findTopicSummary(data, "Day 2 Keynote #2 (40 mins)", {start: '2016-06-25T10:55:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>11:35 - 11:55</th>
                <td colspan="4">Morning Tea Break</td>
            </tr>
            <tr>
                <th>11:55 - 12:35</th>
                <td colspan="4">
                    {{ findTopicSummary(data, "Day 2 Keynote #3 (40 mins)", {start: '2016-06-25T11:55:00+0800', venue: 'big-hall'}) }}
                </td>
            </tr>
            <tr>
                <th>12:35 - 13:35</th>
                <td colspan="4">Lunch (with Unconference Session)</td>
            </tr>

            <tr>
                <th>13:35 - 14:05</th>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T13:35:00+0800', venue: 'fn-room-1'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T13:35:00+0800', venue: 'fn-room-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T13:35:00+0800', venue: 'fn-room-3'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T13:35:00+0800', venue: 'tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>14:10 - 14:40</th>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T14:10:00+0800', venue: 'fn-room-1'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T14:10:00+0800', venue: 'fn-room-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T14:10:00+0800', venue: 'fn-room-3'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T14:10:00+0800', venue: 'tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>14:45 - 15:15</th>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T14:45:00+0800', venue: 'fn-room-1'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T14:45:00+0800', venue: 'fn-room-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T14:45:00+0800', venue: 'fn-room-3'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "HKOSP for Youth", {start: '2016-06-25T14:45:00+0800', venue: 'tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>15:15 - 15:35</th>
                <td colspan="4">Afternoon Tea Break</td>
            </tr>
            <tr>
                <th>15:35 - 16:05</th>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T15:35:00+0800', venue: 'fn-room-1'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T15:35:00+0800', venue: 'fn-room-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T15:35:00+0800', venue: 'fn-room-3'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T15:35:00+0800', venue: 'tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>16:10 - 16:40</th>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T16:10:00+0800', venue: 'fn-room-1'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T16:10:00+0800', venue: 'fn-room-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T16:10:00+0800', venue: 'fn-room-3'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T16:10:00+0800', venue: 'tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>16:45 - 17:15</th>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T16:45:00+0800', venue: 'fn-room-1'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Talk (30 mins)", {start: '2016-06-25T16:45:00+0800', venue: 'fn-room-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Hong Kong Open Source Program (HKOSP) for Youth", {start: '2016-06-25T16:45:00+0800', venue: 'fn-room-3'}) }}
                </td>
                <td>
                  {{ findTopicSummary(data, "-", {start: '2016-06-25T16:45:00+0800', venue: 'tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>17:15 - 17:30</th>
                <td colspan="4">Announcement and Lucky Draw</td>
            </tr>
            <tr>
                <th>17:45</th>
                <td colspan="4">End of Day 2 and Shuttle Buses to Admiralty</td>
            </tr>
            <tr>
                <th>21:00 - 00:00</th>
                <td colspan="4">After-event Party (by invitation only) (tentative)</td>
            </tr>
            </tbody>
        </table>
    </div><!--/.row-->

    <div class="row day" id="day-3">

        <h2 class="row-heading">26th June 2016, Sunday (Day 3)</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Function Room 1-2<br />(About 70 seats)</th>
                <th>Function Room 3<br />(About 20 seats)</th>
                <th>Training Theatre<br />(About 60 seats)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>13:15</th>
                <td colspan="3">Shuttle Bus departs from Admiraty</td>
            </tr>
            <tr>
                <th>14:00 - 15:30</th>
                <td>
                    {{ findTopicSummary(data, "Workshop (90 mins)<br />(Pre-registration is required)", {start: '2016-06-26T14:00:00+0800', venue: 'workshop-fn-room-1-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Workshop (90 mins)<br />(Pre-registration is required)", {start: '2016-06-26T14:00:00+0800', venue: 'workshop-fn-room-3'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Reserved", {start: '2016-06-26T14:00:00+0800', venue: 'workshop-tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>15:30 - 15:45</th>
                <td colspan="3">Afternoon Break</td>
            </tr>
            <tr>
                <th>15:45 - 17:15</th>
                <td>
                    {{ findTopicSummary(data, "Workshop (90 mins)<br />(Pre-registration is required)", {start: '2016-06-26T15:45:00+0800', venue: 'workshop-fn-room-1-2'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Workshop (90 mins)<br />(Pre-registration is required)", {start: '2016-06-26T14:00:00+0800', venue: 'workshop-fn-room-3'}) }}
                </td>
                <td>
                    {{ findTopicSummary(data, "Reserved", {start: '2016-06-26T15:45:00+0800', venue: 'workshop-tr-theatre'}) }}
                </td>
            </tr>
            <tr>
                <th>17:15 - 17:30</th>
                <td colspan="4">End of Day 3 and Shuttle Buses to Admiralty</td>
            </tr>
            </tbody>
        </table>
    </div><!--/.row-->

</div>

{% include '../_bottom-sponsors.html' %}

{% endblock %}
