<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/about/code-of-conduct">Code of Conducts</a></li>
      <li><a href="/about/staff">Committee</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/topics">Topics</a></li>
    </ul>
  </li>
  <li><a href="/sponsor">Sponsors</a></li>
  <li><a href="/venue">Venue</a></li>
  <li><a href="/clips">Clips</a></li>
</ul>
