{% extends '../../layouts/default.html' %}

{% block title %}Clips{% endblock %}

{% block content %}
<div id="wrap" class="container">
    <div class="row">
        <h2>Promotion Video 1</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="956" height="538" src="https://www.youtube.com/embed/43uVMqES0Kk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <h2>Marcelo Araujo: Go beyond Open Source !</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="956" height="538" src="https://www.youtube.com/embed/QcQlh-BoeFM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
