<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hong Kong Open Source Conference 2016 (HKOSCon 2016) will be hosted in 24-25 June.">
    <meta name="author" content="Hong Kong Open Source Conference 2016">
    <meta property="og:title" content="Hong Kong Open Source Conference 2016" />
    <meta property="og:url" content="http://2016.opensource.hk" />
    <meta property="og:image" content="http://2016.opensource.hk/assets/images/og_image.jpg" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Hong Kong Open Source Conference 2016 HKOSCon (2016.06.24-25) is a annual international open source conference in Hong Kong. It is aimed to demonstrate the use of open source software technology, open hardware technology and latest development in the world." />
    <link href='//fonts.googleapis.com/css?family=Alegreya+Sans:400,300|Oswald:700' rel='stylesheet' type='text/css'>
    <link href='//2016.opensource.hk/statics/fonts/all.css?v={{ timeHash }}' rel='stylesheet' type='text/css' />
    <link href='//2016.opensource.hk/statics/genericons/genericons.css?v={{ timeHash }}' rel='stylesheet' type='text/css' />

    <title>{% block title %}Hong Kong Open Source Conference 2016{% endblock %}</title>

    <link href="/assets/css/style.css?v={{ timeHash }}" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/css/prettyPhoto.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default navbar-front" id="navbar" role="navigation" data-spy="affix">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HKOSCon 2016</a>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse dropup">
          {% include 'includes/nav.html' %}

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-highlight">
              <a href="https://hkoscon2016.eventbrite.com/">Get Your Ticket</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% block content %}(contents here){% endblock %}

    <div class="container content-container">
      {% include 'includes/footer.html' %}
    </div> <!-- /container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/assets/scripts/vendors.js"></script>
    <script src="/assets/scripts/bundle.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
